# Default ignored files
/shelf/
/workspace.xml
/.name
/AndroidProjectSystem.xml
/appInsightsSettings.xml
/compiler.xml
/deploymentTargetSelector.xml
/gradle.xml
/migrations.xml
/runConfigurations.xml
/vcs.xml
